body{
  background-color: #dee2e6;
}
#main {
  width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 18px;
  color: #495057;
   display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64pxr; 
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
}
/* 
#img-div {
} */

#tribute-info {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
  color: #495057;
  align-self: center;
}

h1 {
  font-size: 22px;
}

.author {
  font-size: 8px;
}

#peter {
  font-size: 12px;
}
.copy{
  text-align: center;
}